.Card {
  height: 500px;
  width: 300px;
}

.CardDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1rem;
  min-width: fit-content;
  padding: 3rem 1rem;
  color: white;
}
