.main {
  position: relative;
}

#Hero {
  height: clamp(400px, 80vh, 750px);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.Hero_contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Hero_buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

#Suggestions {
  position: relative;
  height: clamp(500px, 80vh 1000px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5rem 2rem;
  gap: 2rem;
  flex-wrap: wrap;
}

#NearbyBakeries {
  height: clamp(500px, 80vh, 1000px);
}

.NearbyBakeries_container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5rem 1rem;
  max-width: 1000px;
  margin-inline: auto;
  height: 100%;
}

.BakeryMap_container {
  flex: 1;
}

#About {
  height: clamp(500px, 80vh, 1000px);
}

#About > div {
  width: clamp(300px, 80vw, 1000px);
  margin-inline: auto;
  padding: 5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  flex-wrap: wrap;
}
