.ImageContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

.ImageContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--tint-color);
  backdrop-filter: blur(var(--blur-filter));
  -webkit-backdrop-filter: blur(var(--blur-filter));
}

.ImageContainer > div {
  position: relative;
  z-index: 1;
}
