@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@layer utilities {
  .scroll-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* firefox */
  }

  .scroll-hidden::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}

@layer components {
  body {
    @apply flex min-h-dvh flex-col text-white;
  }

  main {
    @apply relative flex-grow bg-gray-900;
  }

  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5 {
    @apply text-lg;
  }

  p {
    @apply text-base;
  }
}

.btn {
  display: inline-block;
  padding: 0.5rem 1.25rem;
  height: fit-content;
  border-radius: 2rem;
  background-color: var(--clr-accent);
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  border: var(--clr-accent) solid 3px;
}

.btn.btn-secondary {
  background-color: transparent;
}

.fade-transition {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.enter {
  opacity: 0;
}
.enter-active {
  opacity: 1;
  transition: opacity 1000ms;
}

.exit {
  opacity: 1;
}
.exit-active {
  opacity: 0;
  transition: opacity 1000ms;
}
