#Footer {
  padding: 5rem 2rem;
  background-color: var(--clr-secondary-background);
}

#Footer > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: clamp(200px, 100%, 1000px);
  margin-inline: auto;
}

.Footer_title {
  display: flex;
  flex-direction: column;
}

.Footer_title p {
  font-style: italic;
}

.Footer_links {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.Footer_links a {
  color: var(--clr-color);
  text-decoration: none;
}

.Footer_links a:hover {
  text-decoration: underline;
}
