#Navbar {
  --clr-color: #f3f3f3;
  --clr-primary-background: grey;
  --clr-secondary-background: darkgrey;
  --size-toggle-button-width: 33px;

  height: 10rem;
}

.NavMain_wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  translate: -50% 0;

  width: 100%;
  max-width: 2000px;
}

.NavMain {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 3rem;
}

.NavMain_findBakeryContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.NavMain_title {
  content: ''; /* delete this line */
}

.NavMain_accountContainer {
  display: flex;
  gap: 2rem;
}

.NavMain_accountContainer svg,
.NavToggleButton {
  transition: filter 0.1s ease-in-out;
}

.NavMain_accountContainer svg:hover,
.NavToggleButton:hover {
  filter: brightness(0.95);
  -webkit-filter: brightness(0.95);
}
