#Navbar {
  --clr-nav-color: #ccc;
  --size-toggle-button-width: 33px;

  height: calc(92px + 56.6px);
  background-color: var(--clr-primary-background);
}

#Navbar a {
  color: var(--clr-nav-color);
  text-decoration: none;
}

.NavMain {
  @apply flex justify-between bg-gray-700 px-12 py-4;
}

.NavDropdown {
  background-color: var(--clr-secondary-background);
  padding: 1rem;
}

.NavDropdown > ul {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  list-style: none;
}

.NavMain_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 3.75rem;
  width: max-content;
  position: relative;
}

.NavMain_findBakeryContainer,
.NavMain_accountContainer {
  flex: 1;
  display: flex;
  align-items: center;
}

.NavMain_findBakeryContainer a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  z-index: 1;
}

.NavMain_findBakeryContainer a p::after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: var(--clr-primary-background);
  filter: brightness(0.9);
  height: 200%;
  width: 130%;
  border-radius: 2rem;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.NavMain_findBakeryContainer a:hover p::after {
  opacity: 1;
}

.NavMain_accountContainer {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.NavMain_accountContainer svg,
.NavToggleButton {
  transition: filter 0.1s ease-in-out;
}

.NavMain_accountContainer svg:hover,
.NavToggleButton:hover {
  filter: brightness(0.95);
  -webkit-filter: brightness(0.95);
}
